html, body {
}

body {
  color: #6234F4;
  color: #000;
  color: rgb(255, 0, 192);
  font-family: "Arial", sans-serif;
}

a, a:visited, a:active {
  color: #3C1F96;
  color: #6234F4;
}

a:hover {
  color: #8266D8;
}

.left_aligned {
  text-align: left;
}

.bullets {
  padding-left: 1em;
  line-height: 1.6;
}

.container {
  max-width: 590px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.header_with_emojis {
  display: flex;
  justify-content: space-around;
}

.inline_emoji {
  width: 1em;
  height: 1em;
  position: relative;
  /* top: .12em; */
  /* padding: 0 .3em; */
}

.flashing_image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  background-color: #fff;
  z-index: 1;
}

.loading_screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading_screen--hide {
  display: none;
}

.hang_loose {
  font-weight: bold;
}

.hover_emoji {
  width: 120px;
  height: 120px;
  max-width: 20vw;
  max-height: 20vw;
  position: absolute;
  z-index: 1;
  background-image: url("images/hah!.png");
  background-size: cover;
  background-position: center center;
  top: 50px;
  right: -5%;
  display: none;
  transform: rotate(20deg);
}

.hover_emoji--show {
  display: block;
}

.typeform-widget {
  width: 100%;
  height: 500px;
}

@media (max-width: 500px) {
  .hover_emoji {
    top: 170px;
    right: 2%;
  }

  .typeform-widget {
    height: 300px;
  }
}
